<!-- templates/aq_layout.html -->

<!doctype html>
<html>

<head>
    {% block title %}
    <title>Air Quality Web App</title>
    {% endblock %}
</head>

<body>

    <!-- SITE NAVIGATION -->
    <div class="container">
        <div id="nav">
            {% block nav %}
            <h1><a href="/">Air Quality Dashboard for {{ CITY }}:{{ COUNTRY }}</a></h1>
            <h2>Change City</h2>

            <p>Please fill out the form and submit to change the city!</p>

            <form action="/change" method="POST">

                <label>City:</label>
                <input type="text" name="city_name" placeholder="{{ CITY }}" value="{{ CITY }}">
                <label>Country Code:</label>
                <input type="text" name="country_code" placeholder="{{ COUNTRY }}" " value="{{ COUNTRY }} ">
                <button>Submit</button>
            </form>
            {% endblock %}
        </div>
        <hr>

        <!-- PAGE CONTENTS -->
        <div id="content ">
            {% block content %} {% if danger_list %}

            <h2>Potentially Risky {{ data }} readings - {{ num_risky}}/{{ num_all }}</h2>
            <ol>
                {% for danger in danger_list %}
                <li style="color:red ">UTC Time:{{ danger.datetime }} Value:{{ danger.value }}</li>
                {% endfor %}
            </ol>
            {% else %}
                <p>No Risky  {{ data }} readings found.</p>
            {% endif %} 

            <form action="/refresh" method="POST">
                <button>Update Measurements</button>
            </form>

            {% endblock %}
        </div>

        <!-- FOOTER -->
        <div id="footer ">
            <hr> &copy; Copyright 2021 Srini Nariangadu |
            <a href="https://github.com/nsriniva/DS-Unit-3-Sprint-3-Productization-and-Cloud/sprint-challenge ">source</a>
        </div>
    </div>

</body>

</html>
